@media screen and (max-width: 900px) {
    #music.menu-clicked {
        transform: translate(-175px, -125px);
     }
     #timer.menu-clicked {
         transform: translate(-75px, -175px);
     }
     #pictures.menu-clicked {
         transform: translate(25px, -150px);
     }
     #foods.menu-clicked {
         transform: translate(125px, -165px);
     }
}
@media screen and (max-width: 600px) {
    #food-output {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #food-output-picture-container {
        margin-left: 0px;
    }
    #food-output-legend {
        margin-left: 0px;
    }
}
@media screen and (max-width: 400px) {
    .option-buttons button {
        height: 65px;
        width: 65px;
    }
    #music.menu-clicked {
        transform: translate(-125px, -125px);
     }
     #timer.menu-clicked {
         transform: translate(-55px, -175px);
     }
     #pictures.menu-clicked {
         transform: translate(20px, -150px);
     }
     #foods.menu-clicked {
         transform: translate(90px, -165px);
     }
     #clock label {
        font-size: 0.75rem;
     }
     .food-button {
        width: 100px;
        font-size: 0.85rem;
     }
}
