* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    /*border: 1px solid black;*/
}
:root {
    --background-first-color: #3498db;
}
html {
   overflow-x: hidden;
}
/*Cutscene*/
#cutscene {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100%;
    background-color: red;
    z-index: 100;
}
.cutscene-animated {
    animation: cutscene-animate 3s ease 20ms 1;
}
@keyframes cutscene-animate {
    0% {
        position: absolute;
        top: -100%;
    }
    50% {
        position: absolute;
        top: 0%;
    }
    100% {
        position: absolute;
        top: -100%;
    }
}
/*Menu*/
.menu-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
@keyframes enter-menu {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.menu-screen, .timer-screen, .picture-screen, .foods-screen {
    background-image: url("./src/images/galaxy.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.intro {
    width: clamp(200px, 50%, 400px);
    height: clamp(150px, 50%, 200px);
    border-radius: 40px;
    border: 5px solid black;
    background-color: var(--background-first-color);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    cursor: pointer;
    user-select: none;
    animation: enter-menu 2.5s ease 50ms 1;
}
.intro p {
    width: 75%;
    text-align: center;
    font-size: 1.5rem;
}
.option-buttons button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(0px);
    opacity: 0;
}
.option-buttons button {
    cursor: pointer;
}
#music {
    transition: transform 1s, opacity 0.75s ease-in;
    background: linear-gradient(to right, #d38312, #a83279);
}
#timer{
    transition: transform 2s, opacity 1.5s ease-in;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}
#pictures {
    transition: transform 3s, opacity 2.25s ease-in;
}
#foods {
    transition: transform 4s, opacity 3s ease-in;
}
.option-buttons button.menu-clicked {
   opacity: 1;
 }
#music.menu-clicked {
   transform: translate(100px, -200px);
}
#timer.menu-clicked {
    transform: translate(250px, -125px);
}
#pictures.menu-clicked {
    transform: translate(375px, -30px);
}
#foods.menu-clicked {
    transform: translate(350px, 150px);
}
/*Timer*/
.timer-screen {
    display: none;
    width: 100%;
    height: 100vh;
    row-gap: 20px;
}
#clock {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 10px solid black;
    box-shadow: 8px -7px 13px 2px hsla(0, 0%, 0%, 0.67);
    border-radius: 40px;
    background-color: white;
}
#clock-input {
    width: 100px;
}
#clock p:first-child {
    font-size: 3.5rem;
}
#stop-music {
    display: none;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    right: 30px;
    top: 45%;
    color: black;
}
.clock-buttons {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: min(15px, 5%);
}
.clock-buttons button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: yellow;
    color: red;
}
/*Pictures*/
.picture-screen {
    display: none;
}
/*food*/
.foods-screen {
    display: none;
    height: 100vh;
    width: 100%;
    row-gap: 20px;
}
#error-dialog {
    width: 250px;
    height: 100px;
    background-color: white;
    text-align: center;
    margin: auto auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#error-dialog p {
    font-size: 1rem;
    color: black;
    font-weight: 300;
}
.food-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(400px, 50%, 800px);
    height: clamp(20px, 30%, 400px);
    row-gap: 20px;
}
#insert-food-label {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
#insert-food {
    width: 200px;
    text-align: center;
}
.food-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.food-button {
    width: 150px;
    height: 50px;
    font-size: 1rem;
    color: red;
    background-color: yellow;
    box-shadow: 8px 8px 7px 0px hsla(0, 0%, 0%, 0.75);
    transition: all 0.5s ease;
}
.food-button:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: 4px 4px 7px 0px hsla(0, 0%, 0%, 0.75);
}
.food-input + p {
    font-size: 1.5rem;
    color: white;
}
#food-output {
    width: clamp(400px, 60%, 1000px);
    height: clamp(200px, 50%, 600px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    border-radius: 40px;
}
#food-output-picture {
    height: 300px;
    width: 300px;
    border-color: transparent;
}
#food-output-legend {
    height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}
#go-back-foods {
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;

}
/*At the end*/
.opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.closed {
    display: none;
}
