* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    /*border: 1px solid black;*/
}
:root {
    --background-first-color: #3498db;
}
html {
   overflow-x: hidden;
}
/*Cutscene*/
#cutscene {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100%;
    background-color: red;
    z-index: 100;
}
.cutscene-animated {
    animation: cutscene-animate 3s ease 20ms 1;
}
@keyframes cutscene-animate {
    0% {
        position: absolute;
        top: -100%;
    }
    50% {
        position: absolute;
        top: 0%;
    }
    100% {
        position: absolute;
        top: -100%;
    }
}
/*Menu*/
.menu-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-screen, .timer-screen {
    background-image: url("./images/galaxy.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.closed {
    display: none;
}
.intro {
    width: 40%;
    min-width: 50px;
    height: 200px;
    border-radius: 40px;
    border: 5px solid black;
    background-color: var(--background-first-color);    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 50;
    cursor: pointer;
    user-select: none;
}
.intro p {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
}
.option-buttons button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(0px);
    opacity: 0;
}
.option-buttons button {
    cursor: pointer;
}
#music {
    transition: transform 1s, opacity 0.75s ease-in;
    background: linear-gradient(to right, #d38312, #a83279);
}
#timer{
    transition: transform 2s, opacity 1.5s ease-in;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}
.option-buttons button.menu-clicked {
   opacity: 1;
 }
.option-buttons #music.menu-clicked {
   transform: translate(100px, -200px);
}
.option-buttons #timer.menu-clicked {
    transform: translate(250px, -125px);
}
/*Timer*/
.timer-screen {
    display: none;
    width: 100%;
    height: 100vh;
    row-gap: 20px;
}
.opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    border: 10px solid black;
    box-shadow: 8px -7px 13px 2px hsla(0, 0%, 0%, 0.67);
    border-radius: 40px;
    background-color: white;
}
#clock-input {
    width: 100px;
}
#clock p {
    font-size: 3.5rem;
}
.clock-buttons {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: min(15px, 5%);
}
.clock-buttons button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: yellow;
    color: red;
}

